@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 4fr 1fr;
    grid-gap: 20px;
    font-family: 'Muli', sans-serif;
    margin-bottom: 0;
}

.email, .message {
    color: #fff;
    padding: 2px 5px;
    background: transparent;
    border: none;
    border: 1px solid #fff;
    border-radius: 10px;
    outline: none;
}

.message {
    resize: none;
}

.button, .success, .error {
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #7263fd;
    border: none;
    border-radius: 10px;
    background: #fff;
}

.button:focus, .error:focus, .success:focus {
    outline: none;
}

@media (max-width: 550px) {
    .email, .message, .button, .success, .error {
        border-radius: 5px;
    }
}

.success { 
    background: #3ad29f;
    color: white;
}

.error {
    background:#ff605c;
    color: white;
}

