.form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-gap: 20px;
    font-family: Roboto, Helvetica, sans-serif;
}

.email, .message {
    color: rgba(208, 197, 255, 0.884);
    padding: 2px;
    background: #121922;
    border: none;
    border-left: 4px solid #fff;
    outline: none;
}

.message {
    resize: none;
}

.button, .success, .error {
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #121922;
    border: none;
    background: #fff;
}

.button:focus, .error:focus, .success:focus {
    outline: none;
}

.success { 
    background: #00CA4E;
    color: white;
}

.error {
    background:#FF605C;
    color: white;
}

