.posts {
    list-style-type: none;
    margin: 0 auto;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: center;
    grid-gap: 10px;
}

.post {
    justify-self: center;
    width: inherit;
    margin: 1rem;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.2s ease-in-out;

    .thumbnail {
        width: inherit;
        height: 300px;
        object-fit: cover;
        object-position: center center;
        margin-bottom: 0;
    }

    .summary {
        background: #1a1640;
        padding: 1rem;
        color: #7263fd;
        transition: 0.2s ease-in-out !important;
        .title {
            margin-bottom: 0;
        }
        .description {
            font-family: 'Muli', sans-serif;
            font-size: 0.9rem;
        }
    }

    .details {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1rem;

        .date, .timeToRead, .articleNo {
            font-size: 0.8rem;
            font-style: italic;
            margin-bottom: 0;
        }

        .timeToRead, .articleNo {
            padding-left: 10px;
            margin-left: 10px;
            border-left: 1px solid #7263fd;
        }
    }

    .series {
        border: 1px solid #7263fd;
        border-radius: 5px;
        padding: 2px 4px;
    }

    a {
        display: flex;
        flex-direction: column;
        min-height: 300px;
        text-decoration: none;
    }
}

.post:hover {
    transform: scale(1.05);

    * {
        color: #fff;
        text-shadow: 0px 0px 4px #7263fd, 0px 0px 7px #7263fd, 0px 0px 10px #7263fd, 0px 0px 15px #7263fd;
    }
}