.posts {
    list-style-type: none;
    margin: 0 auto;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: center;
    grid-gap: 10px;
}

.post {
    justify-self: center;
    width: inherit;
    margin: 1rem;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.2s ease-in-out;

    .thumbnail {
        width: inherit;
        height: 300px;
        object-fit: cover;
        object-position: center center;
        margin-bottom: 0;
    }

    .summary {
        background: #1a1640;
        padding: 1rem;
        color: #7263fd;
        transition: 0.2s ease-in-out !important;
        > p {
            font-family: 'Muli', sans-serif;
            font-size: 0.9rem;
        }
    }

    .details {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        h2 {
            margin-bottom: 0;
            padding-right: 10px;
            margin-right: 10px;
            border-right: 1px solid #6f63fd;
        }
    
        p {
            font-size: 0.8rem;
            font-style: italic;
        }
    }

    a {
        display: flex;
        flex-direction: column;
        min-height: 300px;
        text-decoration: none;
    }
}

.post:hover {
    transform: scale(1.05);

    * {
        color: #fff;
        text-shadow: 0px 0px 4px #7263fd, 0px 0px 7px #7263fd, 0px 0px 10px #7263fd, 0px 0px 15px #7263fd;
    }
}