.details {
    display: grid;
    width: 70%;
    height: 70vh;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 30px;
    border-radius: 4px;
    margin: -1rem auto;
    background-image: linear-gradient(-225deg, #222f56 0%, #5753C9 48%, #6E7FF3 100%);
}

.image {
    padding: 40px;
    height: 100%;
    justify-self: center;
    align-self: center;
    margin-bottom: 0;
}

@media (max-width: 850px) {
    .image {
        padding: 15px;
    }
}

@media (max-width: 700px) {
    .details {
        grid-template-columns: 1fr;
    }
    .image {
        width: 60% !important;
        padding: 15px;
    }
}

@media (max-width: 550px) {
    .details {
        width: 90%;
        height: auto;
        padding: 8px;
    }
    .image {
        height: 200px;
    }
}