@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

.introduction {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
    div {
      justify-self: flex-start;

      .line1 {
        width: 40vw;
        color: white;
      }
      .resumeLink {
        border-radius: 45px;
        padding: 10px 20px;
        background: #2f00b2;
        cursor: pointer;
        color: white;
        text-decoration: none;
        transition: 0.2s ease-in-out;
        border: 1px solid #2f00b2;
      }
      .resumeLink:hover {
        border: 1px solid white;
      }
    }
}

.upArrow {
  position: fixed;
  right: 5px;
  bottom: 45px;
  width: 30px;
  height: 30px;
  padding: 3px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  margin: 0;
}

.image {
    justify-self: flex-end;
    width: 30%;
    height: auto;
    filter: drop-shadow(12px 21px 18px #000);
}

.work {
  width: 95%;
  margin: 0 auto;
  h3 {
    color: white;
  }
}

.projects {
  margin: 30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  font-weight: normal;
}

.project {
  display: grid;
  align-content: flex-start;
  font-family: 'Inconsolata', monospace !important;
  padding: 2px 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
  background-color: #04030a;
  border-radius: 3px;
  transition: 0.2s ease-in-out;
  .heading {
    color: #67d5c7;
    font-weight: 100;
    font-family: 'Inconsolata', monospace !important;
    margin: 0;
  }
  .title {
    color: #b14184;
    font-weight: normal;
    margin: 10px 0 0 0;
  }
  .tools {
    display: flex;
    position: relative;
    top: 2px;
    left: 2px;
    margin: 0;

    :first-child {
      background-color: #FF605C;
    }
    :nth-child(2) {
      background-color: #FFBD44;
    }
    :nth-child(3) {
      background-color: #00CA4E;
    }
    span {
      width: 10px;
      height: 10px;
      margin: 4px 7px 8px 0;
      border-radius: 50%;
    }
  }

  .details {
    width: 90%;
    margin: 10px 0;
    font-size: 14px;
    display: flex;
    flex-direction: column;

    > span {
      display: flex;
      align-items: center;

      .link {
        width: 15px;
        height: 15px;
        margin: 0 10px 0 0;
      }
    }
    p {
      margin-bottom: 0;
      color: #7263fd;
    }
    a {
      color: #7263fd;
      text-decoration: none;
      transition: 0.1s ease-in-out;
    }
    a:hover {
      color: #fff;
      text-shadow: 0px 0px 4px #7263fd, 0px 0px 7px #7263fd, 0px 0px 10px #7263fd, 0px 0px 15px #7263fd;
    }
  }

  .description {
    color: #eeccaa;
    font-size: 16px;
    list-style-type: "- ";
    margin: 0 0 0 15px;

    li {
      margin: 0;
    }
  }
  .end {
    color: #67d5c7;
    font-weight: 100;
    font-family: 'Inconsolata', monospace !important;
    margin: 0;
  }
}

@media (max-width: 1000px) {
  .projects {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 650px) {
  .introduction {
    margin-bottom: 50px;
  }
  .projects {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 525px) {
  .introduction {
    flex-direction: column;

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;

      .line1 {
        text-align: center;
        width: inherit !important;
      }

      .resumeLink {
        width: max-content;
      }
    }  

    .image {
      margin: 50px 0;
      width: 50%;
    }
  }
}