.container {
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.content {
    flex-grow: 1;
    padding: 1rem;
}
