.header {
    padding: 0 0 3rem;
    
    nav {
        display: inline;
    }
}

.title {
    color: #000000;
    font-size: 3rem;
    text-decoration: none;
}

.socialLinks {
    float: right;
    list-style-type: none;
    margin: 0;
    display: flex;

    li {
        margin-left: 1.3rem;
    }

    img {
        width: 25px;
        height: 25px;
    }
}

.menu {
    display: none;
    width: 25px;
    height: 25px;
    margin-bottom: 0;
    float: right;
}

.nav-list {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color: #999999;
    font-weight: 700;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav-item:hover {
    color: #ffffff;
}

.active-nav-item {
    color: #ffffff;
}

_:default:not(:root:root), .safari_only {
    letter-spacing: -1px;
}

@media (max-width: 500px) {
    .socialLinks {
        position: absolute;
        top: 60px;
        right: 1rem;
        display: block;
        transform: rotateX(90deg);
        transform-origin: top;
        transition: 0.1s ease-in-out;
    }
    .menu {
        display: block;
    }
}