.header {
    padding: 0 0 3rem;
    
    nav {
        display: inline;
    }
}

.title {
    color: #000000;
    font-size: 3rem;
    text-decoration: none;
}

.socialLinks {
    float: right;
    list-style-type: none;
    margin: 0;
    display: flex;

    li {
        margin-left: 1.3rem;
    }

    img {
        width: 20px;
        height: 20px;
    }
}

.nav-list {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color: #999999;
    font-weight: 700;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav-item:hover {
    color: #ffffff;
}

.active-nav-item {
    color: #ffffff;
}